* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #c1f2d1;
  color: #0e401f;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  row-gap: 10px;
}

h1 {
  margin: 0 0 20px;
  color: #2bbf5c;
  font-size: 40px;
  text-align: center;
}

img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}

input {
  color: #d6f6e0;
  background-color: #0e401f;
  border: 0;
  padding: 15px;
  height: 50px;
  width: 100%;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
}

.input-fields {
  display: flex;
  column-gap: 10px;
}

#add-button {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px 0;
}

button {
  color: #d6f6e0;
  background-color: #1d7f3d;
  border: 0;
  padding: 15px;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #186a33;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #26aa52;
  color: #d6f6e0;
  padding: 15px;
  border-radius: 12px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

ul li:hover {
  background-color: #2bbf5c;
  cursor: pointer;
}

.empty-list {
  margin: 0 auto;
}